.App{
  padding: 10px;
  
}
.section_nav{
display: flex;
flex-direction: column;
}

.section{
  border: 1px  dotted black ;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.update_section_btn{
  margin-top: 20px;
}
.marginBottom15px{
  margin-bottom: 15px;
}